<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a id="home-button" href="/">Home</a></li>
                <li><a id="signup-button" href="/signup">Sign Up</a></li>
                <li><a id="chat-button" href="/chat">Chat</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a id="login-button" href="/login">Log In</a></li>
                <li><a id="logout-button" href="/logout">Log Out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
