{{> header}}

<main class="content">

  {{> chat }}

  <div id="internal-elements">
      <p class="hidden" id="init-data">{{initData}}</p>
      <p class="hidden" id="init-message">{{initMessage}}</p>
      <canvas class="hidden" id="neural-canvas"></canvas>
  </div>

</main>
